
.lottobox {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
.lottonum1, .lottonum2, .lottonum3, .lottonum4, .lottonum5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 5px;
    border : 1px solid gray ;
    border-radius: 50%;
  }
  .lottonum1 {
    background-color: #980000;
    color: white;
  }
  .lottonum2{
    background-color: #997000;
    color: white;
  }
  .lottonum3 {
    background-color: #2F9D27;
    color: white;
  }
  .lottonum4 {
    background-color: #003399;
    color: white;
  }
  .lottonum5 {
    background-color: #3F0099;
    color: white;
  }
  .plus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    margin: 5px;
  }